.titre{
    top: 100px;
    position: sticky;
}

.paragraphe{
    margin-top: 100;
}

.projets{
    width: 100%;
    text-align: center;
}

.projets a img{
    cursor: none;
    margin-bottom: 150px;
    position: sticky;
    top: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    filter: drop-shadow(10px 15px 20px rgb(155, 155, 155));
}